body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-button:focus {
  box-shadow: unset;
}

.form-button-bar .p-button {
  width: fit-content;
}

.incredy-form-buttons {
  width: initial;
}

.topic-list-date {
  text-align: right;
  font-style: italic;
  font-size: 12px;
}

.topic-list-title {
  font-weight: bold;
}

label.field-label {
  font-weight: bold;
}
